.banner-container{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.banner-container h1{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    color: #fff;
}
.btn-2{
    text-align: center;
}
